cattlevax-sf-sandbox/force-app/main/default/flows/APHA_FL002CalloutGovUKNotifyService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Callout_Notificatin_Gov_UK_Notify</name>
        <label>Send Callout Notificatin-Gov.UK Notify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>APHA_GovUKNotifyService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Background_Action</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.APHA_RelatedRecordID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APHA_GovUKNotifyService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>StatusCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IsSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_For_Success</name>
        <label>Check For Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invitation_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invitation_Status</targetReference>
            </connector>
            <label>Invitation Sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BackgroundActionStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    AND({!StatusCode} = 500, {!IsSuccess} = False), 
    &quot;Exception&quot;,
    IF(
        AND({!StatusCode} = 201, {!IsSuccess} = True), 
        &quot;Success&quot;,
        IF(
            AND({!StatusCode} &lt;&gt; 201, {!StatusCode} &lt;&gt; 500, {!IsSuccess} = False), 
            &quot;Failure&quot;,
            &quot;Unknown&quot;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>FL002CalloutGOVUKNotifyService {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL002-Callout Gov.UK Notify Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Background_Action</name>
        <label>Update Background Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>APHA_HTTPStatusCode__c</field>
            <value>
                <elementReference>StatusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APHA_Status__c</field>
            <value>
                <elementReference>BackgroundActionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invitation_Status</name>
        <label>Update Invitation Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APHA_RelatedRecordID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APHA_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>APHA_Invitation__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APHA_RelatedRecordID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>APHA_BackgroundAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Send_Callout_Notificatin_Gov_UK_Notify</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
