cattlevax-sf-sandbox/force-app/main/default/flows/FL004_Vaccination_Invitation_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_UUID</name>
        <label>Generate UUID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UUIDGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Invitation_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>UUIDGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Background_Actions_List</name>
        <label>Add to Background Actions List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>backgroundActionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>backgroundActionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Invitation_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Invitations_List</name>
        <label>Add to Invitations List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vaccinationInvitationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Sibling_ContactIds_List</name>
        <label>Add to Sibling ContactIds List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Siblings.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Siblings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Action_Type_Email</name>
        <label>Set Action Type = Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>backgroundActionRecord.APHA_ActionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GOV UK Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Background_Actions_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Action_Type_Letter</name>
        <label>Set Action Type = Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>backgroundActionRecord.APHA_ActionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GOV UK Letter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Background_Actions_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Action_Type_Text</name>
        <label>Set Action Type = Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>backgroundActionRecord.APHA_ActionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GOV UK Text</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Background_Actions_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Background_Action</name>
        <label>Set Background Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>backgroundActionRecord.APHA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>backgroundActionRecord.APHA_RelatedRecordID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Invitation_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Template_ID</name>
        <label>Set Email Template ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bovineTBVaccinationEmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Template_Ids.APHA_TemplateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Template_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_TemplateId</name>
        <label>Set Email TemplateId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_TemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bovineTBVaccinationEmailTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Invitations_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitation_Record</name>
        <label>Set Invitation Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Selected_Contacts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_ExpectedResponseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayPlus14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_ContactMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Selected_Contacts.APHA_ContactPreference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_InvitationRequestId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_UUID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Method_Invitation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_Template_ID</name>
        <label>Set Letter Template ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bovineTBVaccinationLetterTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Template_Ids.APHA_TemplateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Template_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_TemplateId</name>
        <label>Set Letter TemplateId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_TemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bovineTBVaccinationLetterTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Invitations_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Text_Template_ID</name>
        <label>Set Text Template ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bovineTBVaccinationTextTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Template_Ids.APHA_TemplateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Template_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Text_TemplateId</name>
        <label>Set Text TemplateId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vaccinationInvitationRecord.APHA_TemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bovineTBVaccinationTextTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Invitations_List</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>At_least_1_Contact_Selected</name>
        <label>At least 1 Contact Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Email_List_Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_Of_AccountContactRelationships_DataTable.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GOV_UK_Notify_Templates_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Method</name>
        <label>Check Contact Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_Background_Actions_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Invitation_Records.APHA_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Action_Type_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Invitation_Records.APHA_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Action_Type_Letter</targetReference>
            </connector>
            <label>Post</label>
        </rules>
        <rules>
            <name>Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Invitation_Records.APHA_ContactMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Action_Type_Text</targetReference>
            </connector>
            <label>Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Method_Invitation</name>
        <label>Check Contact Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_Invitations_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Method_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Selected_Contacts.APHA_ContactPreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_TemplateId</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Contact_Method_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Selected_Contacts.APHA_ContactPreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_TemplateId</targetReference>
            </connector>
            <label>Post</label>
        </rules>
        <rules>
            <name>Contact_Method_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Selected_Contacts.APHA_ContactPreference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Text_TemplateId</targetReference>
            </connector>
            <label>Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Template_Type</name>
        <label>Check Template Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Template_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bovine_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Template_Ids.APHA_TemplateType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Template_Ids.APHA_TemplateName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Vaccination First Email Invites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Template_ID</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Bovine_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Template_Ids.APHA_TemplateType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Template_Ids.APHA_TemplateName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bovine TB Vaccination Letter template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_Template_ID</targetReference>
            </connector>
            <label>Letter</label>
        </rules>
        <rules>
            <name>Bovine_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Template_Ids.APHA_TemplateType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Text_Template_ID</targetReference>
            </connector>
            <label>Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Exists_on_CPH</name>
        <label>Customer Exists on CPH?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Sibling_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPH.APHA_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Not_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todayPlus14</name>
        <dataType>Date</dataType>
        <expression>Today() + 14</expression>
    </formulas>
    <interviewLabel>FL004 Vaccination Invitation Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL004 Vaccination Invitation Reminder</label>
    <loops>
        <name>Iterate_Invitation_Records</name>
        <label>Iterate Invitation Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>vaccinationInvitationRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Background_Action</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Background_Actions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Selected_Contacts</name>
        <label>Iterate Selected Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>List_Of_AccountContactRelationships_DataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_UUID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Vaccination_Invitations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Template_Ids</name>
        <label>Iterate Template Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_GOV_UK_Notify_Templates_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Template_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Selected_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Siblings</name>
        <label>Iterate through Siblings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Sibling_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Sibling_ContactIds_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Contact_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Background_Actions</name>
        <label>Create Background Actions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>backgroundActionRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Vaccination_Invitations</name>
        <label>Create Vaccination Invitations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iterate_Invitation_Records</targetReference>
        </connector>
        <inputReference>vaccinationInvitationRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Relationships</name>
        <label>Get Account Contact Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPH.APHA_Customer__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>APHA_CPH__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPH</name>
        <label>Get CPH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Exists_on_CPH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.APHA_CPH__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APHA_CPH__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GOV_UK_Notify_Templates_Ids</name>
        <label>Get GOV.UK Notify Templates Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Template_Ids</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>APHA_GOVUKNotifyTemplatesId__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sibling_Contacts</name>
        <label>Get Sibling Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Siblings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPH.APHA_Customer__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Customer_Not_Found</name>
        <label>Customer Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Customer_Not_Found_Message</name>
            <fieldText>&lt;p&gt;Customer not found on CPH record. Please set a value for Customer before proceeding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_List_Empty_Screen</name>
        <label>Email List Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Email_List_Not_Found</name>
            <fieldText>&lt;p&gt;No Contacts were selected or Preferred Contact Method not email for any of the selected Contacts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>List_of_Contacts</name>
        <label>List of Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>At_least_1_Contact_Selected</targetReference>
        </connector>
        <fields>
            <name>List_Of_AccountContactRelationships_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Contacts to Send Invite</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Contact_Relationships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;APHA_ContactName__c&quot;,&quot;guid&quot;:&quot;column-c7ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:true,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Roles&quot;,&quot;guid&quot;:&quot;column-cc79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Roles&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;IsPrimaryMember&quot;,&quot;guid&quot;:&quot;column-8696&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Primary&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Primary Member&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;APHA_ContactEmail__c&quot;,&quot;guid&quot;:&quot;column-2ef1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Email&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Contact Email&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;APHA_ContactPreference__c&quot;,&quot;guid&quot;:&quot;column-a015&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Preference&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Contact Preference&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;AccountContactRelation&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Account_Contact_Relationships&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;AccountContactRelation&quot;,&quot;fieldReferences&quot;:[&quot;APHA_ContactName__c&quot;,&quot;Roles&quot;,&quot;IsPrimaryMember&quot;,&quot;APHA_ContactEmail__c&quot;,&quot;APHA_ContactPreference__c&quot;],&quot;elementReference&quot;:&quot;Get_Account_Contact_Relationships&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Invite</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 1248.67px; font-family: Arial, sans-serif; line-height: 1.6; color: rgb(51, 51, 51);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;background-color: rgb(248, 249, 250); padding: 20px; border-bottom: 3px solid rgb(217, 83, 79);&quot;&gt;&lt;h2 style=&quot;color: rgb(217, 83, 79); margin: 0px;&quot;&gt;OFFICIAL NOTIFICATION: ANIMAL HEALTH SURVEILLANCE&lt;/h2&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: 20px;&quot;&gt;&lt;p&gt;Dear&amp;nbsp;&lt;strong&gt;{!Iterate_Selected_Contacts.APHA_ContactName__c}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Our records indicate that your holding,&amp;nbsp;&lt;strong&gt;{!Iterate_Selected_Contacts.Account.Name} (CPH: {!Get_CPH.Name})&lt;/strong&gt;, is located within a designated&amp;nbsp;&lt;strong&gt;High-Risk Surveillance Zone&lt;/strong&gt;&amp;nbsp;for active livestock disease monitoring.&lt;/p&gt;&lt;div style=&quot;background-color: rgb(255, 243, 243); border: 1px solid rgb(235, 204, 209); padding: 15px; border-radius: 4px;&quot;&gt;&lt;strong&gt;Mandatory Action Required:&lt;/strong&gt;&amp;nbsp;In accordance with national animal health and welfare regulations, a mandatory cattle vaccination and testing session has been scheduled for your herd.&lt;/div&gt;&lt;h3&gt;Testing &amp;amp; Vaccination Details:&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Location:&lt;/strong&gt;&amp;nbsp;{!Iterate_Selected_Contacts.Account.BillingStreet}, {!Iterate_Selected_Contacts.Account.BillingCity}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Unique Security Key:&lt;/strong&gt;&amp;nbsp;&lt;span style=&quot;font-family: monospace; background: rgb(238, 238, 238); padding: 2px 5px;&quot;&gt;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Testing Window:&lt;/strong&gt;&amp;nbsp;Please confirm your availability within the next 48 hours.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Vaccination is a critical component of national disease eradication plans and helps safeguard both your livestock’s welfare and the broader food supply chain.&lt;/p&gt;&lt;p style=&quot;margin-top: 30px;&quot;&gt;&lt;a style=&quot;background-color: rgb(2, 117, 216); color: white; padding: 10px 20px; border-radius: 5px; font-weight: bold;&quot;&gt;Confirm Vaccination Schedule&lt;/a&gt;&lt;/p&gt;&lt;hr style=&quot;border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) currentcolor currentcolor; margin: 30px 0px;&quot;&gt;&lt;p style=&quot;font-size: 12px; color: rgb(119, 119, 119);&quot;&gt;This is an automated notification based on current surveillance data. If you believe this has been sent in error or your CPH details have changed, please contact the Animal Health Support Team immediately.&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>backgroundActionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>APHA_BackgroundAction__c</objectType>
    </variables>
    <variables>
        <name>backgroundActionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>APHA_BackgroundAction__c</objectType>
    </variables>
    <variables>
        <name>bovineTBVaccinationEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bovineTBVaccinationLetterTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bovineTBVaccinationTextTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaccinationInvitationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>APHA_Invitation__c</objectType>
    </variables>
    <variables>
        <name>vaccinationInvitationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>APHA_Invitation__c</objectType>
    </variables>
</Flow>
